header {
    grid-area: "topbar";
    background-color: rgb(73, 97, 141);
    display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    padding: 24px 64px 18px;
    border: solid 1px rgb(73, 97, 141);
        border-radius: 0px 0px 48px 48px;   
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}
    .header-left {
        display: flex;
            flex-wrap: nowrap;
            justify-self: center;
        width: fit-content;
        height: 100%;
        margin-left: 144px;
    }
        .header-left h1 {
            color: azure;
        }

    .header-right {
        display: flex;
            flex-wrap: nowrap;
            justify-self: center;
        width: fit-content;
        height: 100%;
        margin-right: 144px;
    }

        .login-btn, .reg-btn {
            display: flex;
                justify-content: center;
            background-color: azure;
                margin: 0px 50px;          
                padding: 8px;            
            width: 100px;
            border: solid 1px azure;
                border-radius: 12px;
        }
            .login-btn h2, .reg-btn h2{
                color: rgb(73, 97, 141);
            }
            .login-btn:hover, .reg-btn:hover {
                background-color: rgb(165, 177, 177);
                    border: solid 1px rgb(165, 177, 177);
                transition: 2ms;
            }
  
